<h1>Editing administraciones</h1>

<% form_for(@administraciones) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @administraciones %> |
<%= link_to 'Back', administraciones_path %>