[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rails-spec"]
	path = vendor/plugins/rails-spec
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/tiny_mce"]
	path = vendor/plugins/tiny_mce
	url = git://github.com/kete/tiny_mce.git
[submodule "vendor/plugins/white_list"]
	path = vendor/plugins/white_list
	url = git://github.com/bhedana/white_list.git
